@charset "UTF-8";
/* CSS MAIN */
html, body {
	background-color: #66C;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
}
.wrapper {
	min-height: 100%;
}
#main {
	padding-bottom: 200px; /* must be the same height as footer */
}

/* Page Title */
.page_title {
	color: #fff;
	font-family: 'Fredoka One', cursive;
	font-size: 2em;
	text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
	margin-top: 100px;
}
.page_title + p {
	margin-top: -15px;
	text-transform: lowercase;
	text-align: center;
	color: #fff;
	font-family: 'Montserrat', sans-serif;	
}

/* Navigation */
.navbar-toggle {
	background: #63C;
}
.navbar-toggle span {
	color: #fff;
}

ul.nav {
	font-family: 'Montserrat', sans-serif;	
}
.navbar-brand {
	font-style: italic;	
	font-size: 1.8em;
	font-family: 'Cookie', cursive;
	color: #63C;
}
.form-group button:first-child {
	margin-left: 15px;	
}
.navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
	background-color: #63c;
	color: #fff; 
}

/* Google Map */
iframe {
	width: 100%;
	height: 600px;
	border: 3px solid #444;
	padding: 0;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
}


/* Registration panels */
#about {
	background: url(../images/city_road.jpg);
}
#register {
	background: url(../images/mtn_road.jpeg)
}
#about, #register {
	background-size: cover;
	opacity: 1.0;
}
#register p {
	padding-top: 5px;
}
.registration.content:hover {
	opacity: .5;
}
#about p:hover, #register p:hover{
	opacity: 1.0;
}

.registration {
	background-color: #fff;
	color: #63c;
	border: 1px solid #039;
	padding: 15px;
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;	
	z-index: 100;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
}
.registration h2 {
	color: #fff;
	float: right;
	margin-top: 10px;
}
.registration p {
	padding: 5px;
	color: #fff;
	opacity: 0;
	z-index: 101;
	background: rgba(102, 51, 204, 0.5);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.registration p:first-child {
	color: #000;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
}
.registration button {
	margin-right: 20px;
}

.userbtn {
	background-color: #63c;
	color: #fff;	
}
.userbtn:hover {
	background-color: #66f;
	color: #fff;
	
	-webkit-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.3);
	box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.3);
}

/* Footer */
footer {
	position: relative;
	margin-top: -200px; /*Negative value = Footer height */
	height: 200px;
	clear: both;
	font-family: 'Montserrat', sans-serif;	
	
	margin-top: 20px;
	padding: 20px 0 40px;
	text-align: left;	
	border-top: 2px solid #444;
	
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
}
footer .row {
	margin-top: 50px;
}
footer a {
	color: #63C;
	padding-right: 20px;
	padding-left: 16px;
}
footer a:last-child {
	border-right: none;
}
footer p {
	color: #63c;
	font-weight: bold;
	font-size: .8em;
	margin-top: 10px;
	padding-left: 16px; /* Must be the same as 'footer a' padding-left */
}

/* Image fixes */
.thumbnail {
	max-width: 50%;
	max-height: 50%;
	margin-left: 10px;
}
.icon {
	width: 20px;
	height: 20px;	
}
.connect {
	text-align: left;	
}




@media (max-width: 930px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
	.navbar-collapse.collapse {
		display: hidden;
	}
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
	.navbar-form button[type="submit"] {
		margin-top: 5px;
	}
	#signInBtn {
		margin-left: 0;
		float: left;
		margin-top: 20px;	
	}
	#registerBtn {
		margin-right: 0;
		margin-top: 20px;
		float: right;	
	}
	footer .row {
		margin-top: 0;
	}
	footer a {
		clear: left;
		float: left;
		margin-top: 5px;
	}
	footer p {
		float: right;
		margin-right: 15px;
	}
}