@charset "UTF-8";
/* CSS Document */

.title_box {
	margin-bottom: -175px;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.panel-title {
	font-family: 'Montserrat', sans-serif;	
}
.userbtn {
	border: none;	
}
#register_box {
	margin-top: 125px;	
}
