@charset "UTF-8";
/* CSS Document */


#search_field {
	padding-top: 20px;
	float: none;
}
#search_field input{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
}
button.btn.btn-default.center-block {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
}
#search_field form {
	margin: 0 auto;
	float: none;
}
#search_field form button {
	margin: 5px auto;	
}
.nav_map_box {
	margin-top: 5px;	
}
#map_canvas {
	margin-top: 5px;
	width: 750px;
	height: 600px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#nearby_results {
	margin-top: 5px;
	border: 2px solid #444;
	height: 600px;
	background-color: #e7e7e7;
	color: #63C;
	font-family: 'Montserrat', sans-serif;	
	overflow: auto;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);

}
#nearby_results .h2 {
	border-bottom: 2px solid #444;
	padding: 5px 0;
	font-size: 1.5em;
	margin-bottom: 10px;
	text-shadow: none;
}
