@charset "UTF-8";
/* CSS Document */


#search_field {
	padding-top: 20px;
	float: none;
}
#search_field input{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
}
button.btn.btn-default.center-block {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
}
#search_field form {
	margin: 0 auto;
	float: none;
}
#search_field form button {
	margin: 5px auto;	
}

.nav_map_box {
	margin-top: 5px;
	overflow: auto;
}

#nearby_results {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	border: 2px solid #000;
	overflow: auto;
	z-index: 101;
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
}
#nearby_results .h2 {
	border-bottom: 2px solid #63C;
	color: #63c;	
}
.results_list {
	background: #fff;
}
.result {
	margin-top: 10px;
}
.result iframe {
	height: 100px;
	width: 100px;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.37);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.37);


}
.result > p {
	color: #63C;
	font-family: 'Montserrat', sans-serif;
	max-height: 100px;
	max-width: 200px;
	margin: 0 auto;
	padding-top: 20px;
	
}
	



















